



<div class="container">

  <form ng-submit="searchStock(symbol)">
    <input ng-model="symbol" type="text" placeholder="search symbol ''" required>
    <button class="btn btn-success btn-sm" type="submit">Search</button>
  </form>

  <div class="row" ng-if="stock" style="border: 1px solid black;" style="height: 80px;">
    <div class="col-xs-3"  style="height: 80px; font-weight: bolder; font-size: 20px;">
      <div>{{stock.Name}}</div>
    </div>
     <div class="col-xs-9">
        <div class="row" style="border: 1px solid black;">
          <div class="col-xs-5">
           <div style="font-weight: bolder;">Symbol:</div>
          </div>
          <div class="col-xs-7">
            <div> {{stock.Symbol}}</div>
          </div>
        </div>
        <div class="row" style="border: 1px solid black;">
          <div class="col-xs-5">
           <div style="font-weight: bolder;">Change:</div>
          </div>
          <div class="col-xs-7" style=''>
            <div> {{stock.Change}}</div>
          </div>
        </div>
        <div class="row" style="border: 1px solid black;">
          <div class="col-xs-5">
           <div style="font-weight: bolder;">Change This Year:</div>
          </div>
          <div class="col-xs-7" style=''>
            <div> {{stock.ChangeYTD}}</div>
          </div>
        </div>
        <div class="row" style="border: 1px solid black;">
          <div class="col-xs-5">
           <div style="font-weight: bolder;">As of:</div>
          </div>
          <div class="col-xs-7">
            <div> {{stock.Timestamp}}</div>
          </div>
        </div>
      </div>
    </div>
  <div class="row" ng-if="stock" style="border: 1px solid black;">
    <div class="col-xs-6" style="height: 400px; font-size: 30px">
      <div class="row" style="height:100px">
        Updated: {{stock.Timestamp}}
      </div>
      <div class="row" style="height:100px">
        Opening amount:    ${{stock.Open}}
      </div>
      <div class="row" style="height:100px">
        Closing amount:   ${{stock.LastPrice}}
      </div>
      <div class="row" style="height:100px">
        YTD Change:  ${{stock.ChangeYTD}}
      </div>

    </div>
    <div class="col-xs-6">
      <div class="row" style="border: 1px solid black;" style="height: 300px;">
        <div id="curve_chart" style="width: 375px; height: 300px; font-size: 25px; color: red;">search again to see graph</div>
      </div>
      <div class="row" style="border: 1px solid black;" style="height: 200px;">
        <div style="font-size: 80px; font-align: center;">${{stock.LastPrice}}</div>
      </div>
    </div>
  </div>

</div>
